.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 88px;
  width: 95%;
  border: 3px solid red;
}

.landing-content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.landing-content-main {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  border: 2px solid green;
}

.landing-main-title {
  font-size: 55px;
}

.landing-main-body {
  font-size: 30px;
  font-weight: 600;
}
